<div class="container">
    <div class="col-md-12">
        <div class="table-responsive">
            <a routerLink="/insertskill/{{empid}}">ADD SKILL</a>
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                    <th>Skill Name</th>
                    <th>Certification</th>
                </thead>
                <tbody>
                    <tr *ngFor="let e of empskill ">
                        <td>{{e.skillname}}</td>
                        <td>{{e.certification}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
